<%- include("header") %>

<h1 style="color:white">Hello i am zeinedin Abdela</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat esse quidem. Veniam quae amet incidunt cum minus adipisci maiores, aperiam qui rem iure alias necessitatibus? Numquam reprehenderit eveniet placeat saepe at unde porro ipsam error, earum esse. Nisi a illum non aliquid ea saepe, laborum fugiat debitis tenetur, odit ut amet nemo nobis ab repellendus. Facilis, inventore quasi. Expedita aspernatur, blanditiis eveniet porro distinctio iure commodi, corrupti harum, dicta exercitationem ducimus voluptatem odit quae nemo aut in libero ullam! Harum, veritatis quod aliquam iure nihil iste fuga quo ut voluptatum. Maxime optio praesentium minima? Consectetur, deleniti. Expedita, eligendi praesentium?
</p>

<%- include("footer") %>